{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-12"><h3>{{ 'profile.show.heading.open'|trans({}, 'AppBundle') }}</h3></div>
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Holidays</th>
                    <th>Days</th>
                    <th>Days left</th>
                    <th>Accept</th>
                    <th>Declined</th>
                </tr>
                </thead>
                <tbody>
                {% for liste in list %}
                    {% if liste.closed == 0 %}
                    <tr>
                        <td>{{ liste.id }}</td>
                        <td style="width: 200px">{{ liste.user.username }}</td>
                        <td>{{ liste.holidayFrom | date('d-m-Y') }} - {{ liste.holidayTo | date('d-m-Y') }}</td>
                        <td>{{ liste.days }} days</td>
                        <td>{{ liste.user.vacation }} days left</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-xs btn-success">Aktion</button>
                                <button type="button" class="btn btn-xs btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Men端 ein-/ausblenden</span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('accept',{'id':liste.id}) }}">Accept</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Zukunft -> Mitteilung senden</a></li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-xs btn-danger">Aktion</button>
                                <button type="button" class="btn btn-xs btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Men端 ein-/ausblenden</span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('noaccept',{'id':liste.id}) }}">Declined</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Zukunft -> Mitteilung senden</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- done !-->
        <div class="col-xs-12"><h3>{{ 'profile.show.heading.accept'|trans({}, 'AppBundle') }}</h3></div>
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Holidays</th>
                    <th>Days</th>
                    <th>Days left</th>
                    <th>Accept</th>
                    <th>Declined</th>
                </tr>
                </thead>
                <tbody>
                       {% for liste in list %}
                           {% if liste.closed == 1 %}
                            <tr>
                                <td>{{ liste.id }}</td>
                                <td style="width: 200px">{{ liste.user.username }}</td>
                                <td>{{ liste.holidayFrom | date('d-m-Y') }} - {{ liste.holidayTo | date('d-m-Y') }}</td>
                                <td>{{ liste.days }} days</td>
                                <td>{{ liste.user.vacation }} days left</td>
                                {% if liste.accept == 1 %}
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-xs btn-success">Aktion</button>
                                            <button type="button" class="btn btn-xs btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="caret"></span>
                                                <span class="sr-only">Men端 ein-/ausblenden</span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="{{ path('change',{'id':liste.id}) }}">Change</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td></td>
                                {% else %}
                                    <td></td>
                                    <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-xs btn-danger">Aktion</button>
                                        <button type="button" class="btn btn-xs btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="caret"></span>
                                            <span class="sr-only">Men端 ein-/ausblenden</span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="{{ path('change',{'id':liste.id}) }}">Change</a></li>
                                        </ul>
                                    </div>
                                    </td>
                                {% endif %}
                            </tr>
                           {% endif %}
                        {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}