{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-xs-12"><h3>{{ 'admin.alluser.show.heading'|trans({}, 'AppBundle') }}</h3></div>
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Username</th>
                <th>Name</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Days</th>
                <th>Config</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id|e }}</td>
                    <td>{{ user.username|e }}</td>
                    <td>{{ user.firstname|e }}</td>
                    <td>{{ user.lastname|e }}</td>
                    <td>{{ user.email|e }}</td>
                    <td>{{ user.roles|join(', ') }}</td>
                    <td>{{ user.vacation|e }}</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-xs btn-default">Aktion</button>
                            <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Menü ein-/ausblenden</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url('fos_user_profile_edit') }}">{{ 'nav.admin.edit.user'|trans({}, 'AppBundle') }}</a></li>
                                <li><a href="{{ url('edit', {'/': user.id}) }}">{{ 'nav.admin.edit.user'|trans({}, 'AppBundle') }}</a></li>
                                <li><a href="#">Delete</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Zukunft -> Mitteilung senden</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}